#container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:    "title title"
                            "editor preview";
    grid-gap: 0px 30px;
}

#editor{
    resize: none;
    grid-area: editor;
}

#preview{
    grid-area: preview;
    border: 1px solid grey;
    padding: 0px 10px;
}

#title{
    grid-area: title;
    text-transform: uppercase;
    text-align: center;
}